<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title1 }}</h1>
<table>
    <tr>
        <td>{{ g1 }}</td>
        <td><button>{{ buy }}</button></td>
    </tr>
    <tr>
        <td>{{ g2 }}</td>
        <td><button>{{ buy }}</button></td>
    </tr>
    <tr>
        <td>{{ g3 }}</td>
        <td><button>{{ buy }}</button></td>
    </tr>
    <tr>

        <td colspan="2"><button type="button" onclick="window.history.back()">Вернуться обратно</button></td>
    </tr>
</table>


</body>

</html>